*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman, serif;
}

html{
}

body{
	padding: 5px;
	font-size: 28px;
	text-align: left;
	line-height: 1;

	background-color: #6ff203;
	opacity: 1;
	background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%), linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%);
	background-size: 300px 300px;
	background-position: 0 0, 150px 150px;
	/*display: flex;*/
	/*justify-content: center;*/
}

content{
	/*transform: rotate(-4deg);*/
}

h1{
	/*font-weight: lighter;*/
}

h2{
	font-size: 1em;
	/*font-weight: lighter;*/
}


p{
	padding-bottom: 1rem;
	max-width: 1000px;
}

img{
	max-width: 95vw;
	max-width: 500px;

	margin-top: -1rem;
}

ul{
	margin-left: 4em;
}

summary {
	width: fit-content; 
}
summary:hover{
	cursor: pointer;
}

details[open]{
	padding-bottom: 1rem;
}

details > :is(details, p, h2, img){
	padding-left: 1em;
}

code{
	font-family: Menlo, monospace;
	font-weight: lighter;
}

.emoji{
	font-size: 1.2em;
}

@media (orientation: portrait){
	img{
		max-width: 88vw;
	}
}
